<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<!-- launch markers -->
	<rosparam command="delete" param="/ar_track_alvar/" />
	<rosparam command="load" file="$(find neo_docking)/configs/ar_track_alvar/ar_track_alvar_single.yaml" />
	<!-- Arguments for ar_track_alvar -->
	<arg name="marker_size" default="12" />
	<arg name="max_new_marker_error" default="0.1" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="/camera/depth_registered/points" />
	<arg name="cam_info_topic" default="/camera/depth/camera_info" />
	<arg name="output_frame" default="/camera_link" />
	<arg name="med_filt_size" default="15" />
	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkers" respawn="false" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />
</launch>
